%h5
  Blocks listed by hash
%br

.form-group
  %form#navigate{:method => "post", :name => "navigate"}
    - next = next_button @latest
    = next |> raw
    = previous_button |> raw
  %br
  - for num <- 0..tuple_size( @blocks ) - 1 do
    - block = elem @blocks, num
    %code= block |> mark_up_hash |> raw
