%span.instructions
  Blocks listed by hash
%br
%br

- if assigns[:blocks] do
  .form-group
    %form#navigate{:method => "post", :name => "navigate"}
      - next = next_button @latest
      = next |> raw
      = previous = previous_button @last
      = previous |> raw
    %br
      = raw( mark_blocks @blocks )
