
<code><%= raw(@error) %></code>

<div class="form-group">
  <form id="number" name="number" method="post">
    <input id="_csrf_token" name="_csrf_token"
           type="hidden" value="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <code><%= label :blocks_label, :"enter block height:" %> <%= text_input :blocks, :num, value: "" %> <%= submit "submit", id: "submit", class: "btn btn-primary" %></code>
  </form>
</div>

<code><%= @block |> mark_up_block() |> raw() %></code>
