-if assigns[:transactions] do
  - alias BlockChainExplorer.Transaction
  %div{ id: "transactions_block" }
    - if @transactions != nil && @transactions != [] do
      - for transaction <- @transactions do
        %div{style: 'margin-left: 3px'}
          - decoded = Transaction.convert_to_struct transaction, 1
          = decoded |> mark_up_transaction |> raw
