%span.instructions
  = "Transactions which refer to address "
  %span{ id: "address", name: "address" }
    = @address
%br
%span{ id: "transactions_please_wait_message", name: "transactions_please_wait_message", style: "color: #FF7F50" }
  %span{ style: "font-weight: bold" }Please wait
  = "..."
%br
%br
#transactions
