
<code><%= raw(@error) %></code>

<p><code style="flex: 1;"><b>Transaction:</b></code></p>

<ul>
<p>
<%= @transaction |> mark_up_transaction() |> raw() %>
</p>

<p>
<b>Outputs:</b><br />
<%= @transaction.outputs |> mark_up_outputs() |> raw() %>
</p>

<p>
<b>Inputs:</b><br />
<%= @transaction.inputs |> mark_up_inputs() |> raw() %>
</p>
</ul>
